h1 {
    font-family:comic sans ms; color: Black; font-size:25px;
}
p {
    font-family:comic sans ms; color: #660000; font-size:13px;
}
#p1 {
    font-family:comic sans ms; color: #660000; font-size:13px;
}
#p2 {
    font-family:comic sans ms; color: #660000; font-size:13px;
}

pre {
    font-family:comic sans ms; color: #000033; font-size:35px;
}
#body1 {
    background-image: url('images/Keyboard.gif');
    background-repeat: no-repeat;
    background-size: 501px 600px;
}
#body2 {
    background-image: url('images/Keyboard.gif');
    background-repeat: no-repeat;
    background-size: 545px 600px;
}
#body3 {
    background-image: url('images/Operating.jpg');
    background-repeat: no-repeat;
    background-size: 570px 600px;
}
#body3 {
    background-image: url('images/Operating.jpg');
    background-repeat: no-repeat;
    background-size: 570px 600px;
}
#body4 {
    background-image: url('images/AI.png');
    background-repeat: no-repeat;
    background-size: 570px 600px;
}
#body5 {
    background-image: url('images/HTML1.jpg');
    background-repeat: no-repeat;
    background-size: 570px 600px;
}
#body6 {
    background-image: url('images/HTML1.jpg');
    background-repeat: no-repeat;
    background-size: 570px 750px;
}
#body7 {
    background-image: url('images/HTML1.jpg');
    background-repeat: no-repeat;
    background-size: 570px 750px;
}
#body8 {
    background-image: url('images/JS.png');
    background-repeat: no-repeat;
    background-size: 605px 650px;
}
#body9 {
    background-image: url('images/JS.png');
    background-repeat: no-repeat;
    background-size: 660px 515px;
}
#body10 {
    background-image: url('images/Operating.jpg');
    background-repeat: no-repeat;
    background-size: 490px 675px;
}
#body11 {
    background-image: url('images/Bg.jpg');
    background-repeat: no-repeat;
    background-size: 340px 485px;
}
#img1 {
     width:280px; height:160px;
}
#bg1 {
    background-color: #00FF00;
}
